/*
ideas  for varialbe names
Font names
Font stacks
Font weights
Font sizes
Colour schemes
*/


$font-base: ;
$font-body: ;
$font-feature: ;





// Use as a base for variable names

// $color-brand: #00A4E4; // the main brand colour, probably the main logo colour
// $color-brand--accent: #999; // the brand accent colour might also be used in the logo, or generally as an accent
// $color-canvas: #eee; // this is probably the background colour of the body element
// $color-canvas--alt: #333; // an alternate canvas colour
// $color-base: #333; // the colour of most body text
// $color-base--alt: #eee; // alternate body text colour, probably used over
// $color-canvas--alt
// $color-keyline: #666; // line dividers